a {
  color: #658494;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #658494;
}
.dx-button {
  background-image: linear-gradient(to top, #f1f1f1, white);
  border-top: 1px solid #d2d2d2;
  border-left: 1px solid #c9c8c8;
  border-right: 1px solid #c9c8c8;
  border-bottom: 1px solid #c3c3c2;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
body {
  background-color: #e7e9ed;
  min-width: 1100px;
  margin: 0;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
}
.layout-navigation {
  width: 210px;
  float: left;
  min-height: 865px;
}
.layout-content {
  margin-left: 210px;
  padding: 26px 0 0;
}
.view-content {
  position: relative;
  min-height: 812px;
  margin: 34px 20px 20px 0;
  background-color: transparent;
}
.view-content .content-block {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.view-content:not(.dashboard) .content-block {
  min-height: 812px;
}
.dx-overlay-content.dx-context-menu {
  min-width: 170px;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-submenu > .dx-menu-items-container {
  border: 0;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-menu-item .dx-menu-item-content {
  padding: 0;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-menu-item .dx-menu-item-content .dx-menu-item-text,
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-menu-item .dx-menu-item-content a {
  display: block;
  padding: 9px 20px;
  font-size: 16px;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-menu-item .dx-menu-item-content a {
  text-decoration: none;
  text-transform: capitalize;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.custom-filter-menu):not(.dx-pivotgrid) .dx-menu-item:not(.dx-menu-item-selected) .dx-menu-item-text {
  color: #658494;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.dx-pivotgrid) .dx-menu-item-selected .dx-menu-item-content {
  background-color: #658494;
  color: #fff;
}
.dx-overlay-content.dx-context-menu:not(.dx-datagrid):not(.dx-pivotgrid) .dx-menu-item-selected .dx-menu-item-content a {
  color: #fff;
}
.dx-overlay-content .dx-context-menu-content-delimiter {
  background-color: transparent;
}
.dx-overlay-content .dx-menu-items-container {
  width: 100%;
  padding: 0;
}
.dx-overlay-content .dx-menu-item .dx-menu-item-content {
  padding: 8px 0 9px;
}
.dx-overlay-content .dx-list .dx-list-item-selected:not(.dx-state-hover) {
  color: #fff;
  background-color: #658494;
}
.layout-navigation > .header {
  margin: 20px 0 0 30px;
}
.layout-navigation .main-menu.dx-menu {
  margin-top: -1px;
}
.layout-navigation .main-menu .dx-context-menu-container-border {
  border: 0;
  box-shadow: none;
}
.layout-navigation .main-menu .dx-menu-item.dx-menu-item-expanded {
  background-color: transparent;
}
.layout-navigation .main-menu .dx-menu-item.dx-state-hover {
  background-color: transparent;
}
.layout-navigation .main-menu .dx-menu-item .dx-menu-item-popout {
  font-size: 20px;
  color: #7f7f7f;
}
.layout-navigation .main-menu .dx-menu-item .dx-menu-item-popout:before {
  top: 14px;
  left: 36px;
}
.layout-navigation .main-menu .dx-menu-item .dx-menu-item-popout .dx-menu-item-popout {
  font-size: 20px;
  color: #7f7f7f;
}
.layout-navigation .main-menu .dx-menu-item.dx-state-hover .dx-menu-item-content .dx-menu-item-popout-container .dx-menu-item-popout,
.layout-navigation .main-menu .dx-menu-item.dx-menu-item-expanded .dx-menu-item-content .dx-menu-item-popout-container .dx-menu-item-popout {
  color: #658494;
}
.layout-navigation .main-menu .dx-menu-item .dx-menu-item-content {
  padding-bottom: 1px;
  padding-left: 0;
  padding-right: 10px;
}
.view-content .header-buttons {
  position: absolute;
  top: -40px;
  left: 0;
  height: 30px;
}
.view-content .header-buttons .button-task,
.view-content .header-buttons .button-custom-filter,
.view-content .header-buttons .button-export,
.view-content .header-buttons .button-analysis {
  margin-left: 20px;
}
.view-content .header-buttons .dx-button.button-chooser .dx-button-content,
.view-content .header-buttons .dx-button.button-custom-filter .dx-button-content,
.view-content .header-buttons .dx-button.button-export .dx-button-content {
  padding: 0;
}
.view-content .header-buttons .dx-button .dx-button-content {
  padding: 3px 16px;
}
.view-content .header-buttons .dx-button .dx-button-content .dx-button-text {
  font-size: 12px;
}
.view-content .header-buttons .dx-icon-custom-filter {
  background-repeat: no-repeat;
  background-position: -20px -135px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  width: 20px;
  height: 20px;
}
.view-content .header-buttons .dx-icon-export {
  background-repeat: no-repeat;
  background-position: -60px -135px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  width: 20px;
  height: 20px;
}
.view-content .header-buttons .dx-icon-export:before {
  content: "";
}
.view-content .header-buttons .dx-icon-column-chooser {
  background-repeat: no-repeat;
  background-position: 0 -135px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  width: 20px;
  height: 20px;
}
.view-content .header-buttons .dx-icon-column-chooser:before {
  content: "";
}
.view-content .search-box {
  position: absolute;
  top: -40px;
  right: 0;
}
.view-content .search-box .icon-find {
  width: 19px;
  height: 20px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-position: -42px -184px;
  background-repeat: no-repeat;
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 10;
}
.view-content .search-box .dx-texteditor-input {
  padding: 0 25px 0 10px;
}
.view-content .left-menu-filters {
  position: absolute;
  top: 20px;
  left: -210px;
  width: 210px;
}
.view-content .left-menu-filters #left-menu .left-menu-item {
  padding: 0;
}
.view-content .left-menu-filters #left-menu .left-menu-item a {
  display: block;
  padding: 9px 30px;
  font-size: 16px;
  color: #5c5d5f;
  background-color: #e7e9ed;
  position: relative;
}
.view-content .left-menu-filters #left-menu .left-menu-item a:hover {
  background-color: #f1f2f5;
  text-decoration: none;
}
.view-content .left-menu-filters #left-menu .left-menu-item a:hover .edit {
  display: block;
}
.view-content .left-menu-filters #left-menu .left-menu-item a .edit {
  display: none;
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -83px -184px;
}
.view-content .left-menu-filters #left-menu .dx-list-item-selected a {
  background-color: #d5d8e0;
}
.view-content .left-menu-filters #left-menu .left-menu-group {
  text-transform: uppercase;
  padding: 20px 0 0 20px;
  font-weight: normal;
  color: #7f8082;
}
.view-content .dx-pager {
  border-top: 1px solid #d3d3d3;
  padding-top: 7px;
  padding-bottom: 7px;
}
.view-content .dx-pager .dx-pages .dx-page {
  margin: 2px 0 0 0;
  padding: 5px 8px 6px;
  background-color: transparent;
  color: #191919;
}
.view-content .dx-pager .dx-pages .dx-page.dx-selection,
.view-content .dx-pager .dx-pages .dx-page .dx-pager .dx-page-sizes .dx-page.dx-selection {
  background-color: #658494;
  padding: 5px 10px 6px;
  color: #fff;
}
.view-content .dx-pager .dx-pages .dx-info {
  opacity: 0.7;
  margin-right: 7px;
}
.view-content .dx-pager .dx-pages .dx-navigate-button {
  color: #7f7f7f;
}
.view-content .dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
  border: 1px solid #ddd;
}
.view-content .dx-tabpanel.dx-state-focused .dx-tab-selected:after {
  border: 1px solid #ddd;
}
.task-priority,
.task-status {
  background-repeat: no-repeat;
  background-image: url(../images/sprite.png);
}
.task-priority {
  height: 16px;
  width: 15px;
}
.task-status {
  height: 18px;
  width: 18px;
}
.task-priority-4 {
  background-position: -90px -58px;
}
.task-priority-3 {
  background-position: -60px -58px;
}
.task-priority-2 {
  background-position: -30px -58px;
}
.task-priority-1 {
  background-position: 0 -58px;
}
.task-icon-field {
  position: relative;
}
.task-icon-field .task-priority,
.task-icon-field .task-status {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
}
.task-icon-field .dx-textbox input {
  padding-left: 35px;
}
.task-icon-field .dx-textbox .dx-texteditor-buttons-container {
  height: 28px;
}
.dx-list-item .task-priority,
.dx-list-item .task-status {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.dx-list-item.dx-list-item-selected .task-priority-1 {
  background-position: -15px -58px;
}
.dx-list-item.dx-list-item-selected .task-priority-2 {
  background-position: -45px -58px;
}
.dx-list-item.dx-list-item-selected .task-priority-3 {
  background-position: -75px -58px;
}
.dx-list-item.dx-list-item-selected .task-priority-4 {
  background-position: -105px -58px;
}
.dx-list-item.dx-list-item-selected .task-status-1 {
  background-position: -162px -74px;
}
.dx-list-item.dx-list-item-selected .task-status-2 {
  background-position: -90px -74px;
}
.dx-list-item.dx-list-item-selected .task-status-3 {
  background-position: -126px -74px;
}
.dx-list-item.dx-list-item-selected .task-status-4 {
  background-position: -54px -74px;
}
.dx-list-item.dx-list-item-selected .task-status-5 {
  background-position: -18px -74px;
}
.task-status-1 {
  background-position: -144px -74px;
}
.task-status-2 {
  background-position: -72px -74px;
}
.task-status-3 {
  background-position: -108px -74px;
}
.task-status-4 {
  background-position: -36px -74px;
}
.task-status-5 {
  background-position: 0 -74px;
}
#task-status {
  height: 18px;
  width: 18px;
  margin-top: -9px;
}
.dx-selectbox-container {
  border-radius: 2px;
}
.dx-datebox-wrapper-calendar .dx-calendar {
  width: 260px;
  height: 251px;
  min-width: 260px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table {
  width: 100%;
  border: none;
  padding: 0;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table thead {
  border-bottom: none;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table thead tr {
  background-color: #fafafa;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table thead th {
  width: auto;
  height: 24px;
  line-height: 24px;
  padding-bottom: 2px;
  text-transform: uppercase;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table thead th:first-child {
  padding-left: 8px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table thead th:last-child {
  padding-right: 7px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td {
  font-size: 14px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td.dx-state-hover {
  background-color: #f0f0f0;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td.dx-calendar-today {
  text-shadow: none;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td.dx-calendar-today:not(.dx-calendar-selected-date) {
  color: #658494;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td.dx-calendar-selected-date:hover {
  color: #434343;
  border: none;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-body table td.dx-calendar-contoured-date {
  border-color: #658494;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator {
  height: 37px;
  border-bottom: 1px solid #cbcbcb;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator span {
  line-height: 24px;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-caption-button {
  border: 0;
  box-shadow: none;
  background-image: none;
  height: 36px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-caption-button.dx-state-active {
  background-color: transparent;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-caption-button .dx-button-content {
  padding-bottom: 2px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-button-has-icon {
  background-image: none;
  padding: 12px 0 0 5px;
  height: 35px;
  width: 23px;
  top: 1px;
  border: 0;
  box-shadow: none;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-button-has-icon.dx-state-active {
  background-color: transparent;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-button-has-icon .dx-button-content {
  width: 13px;
  height: 11px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-button-has-icon .dx-button-content .dx-icon:before {
  content: "";
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-previous-month {
  left: 10px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-previous-month .dx-button-content {
  background-position: -52px -24px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-previous-month:hover .dx-button-content {
  background-position: -65px -24px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-next-month {
  right: 10px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-next-month .dx-button-content {
  background-position: 0 -24px;
}
.dx-datebox-wrapper-calendar .dx-calendar .dx-calendar-navigator .dx-button.dx-calendar-navigator-next-month:hover .dx-button-content {
  background-position: -13px -24px;
}
.grid-row-block:not(:hover) .task-actions > div {
  visibility: hidden;
}
.grid-row-block:hover {
  background-color: #F7F8FA;
}
.task-actions .dx-button {
  background-image: none;
  background-color: #5E6D9D;
  width: 50px;
  height: 23px;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border: 0;
}
.task-actions .dx-button:first-child {
  margin-left: 8px;
}
.task-actions .dx-button .dx-button-content {
  padding: 0;
}
.task-actions .dx-button .dx-button-content .dx-button-text {
  font-size: 12px;
  color: white;
}
.dx-placeholder:before {
  padding: 5px 9px;
}
.footer {
  width: 100%;
  height: auto;
  color: #96989a;
  margin: 0 0 10px;
  padding: 0;
  position: relative;
}
.footer .logo {
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: 156px;
  height: 27px;
  background-image: url(../images/copy.png);
  background-size: 156px 27px;
}
.footer .copy,
.footer .social {
  display: inline-block;
}
.footer .copy {
  margin-left: 210px;
  padding: 6px 20px 4px;
  border-left: 1px solid #bebfc3;
}
.footer .social {
  float: right;
  padding: 11px 20px 10px 0;
}
.footer .social a {
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  height: 26px;
  width: 24px;
  display: inline-block;
}
.footer .social a.facebook {
  background-position: -24px -92px;
}
.footer .social a.twitter {
  background-position: -72px -92px;
}
.footer .social a.google-plus {
  background-position: -48px -92px;
}
.footer .social a.youtube {
  background-position: -96px -92px;
}
.footer .social a.blogs {
  background-position: 0 -92px;
}
.dx-checkbox {
  margin: 0;
  border: none;
}
.dx-checkbox.dx-checkbox-checked .dx-checkbox-icon {
  background-position: 0 0;
  border: none;
}
.dx-checkbox.dx-checkbox-checked.dx-state-hover .dx-checkbox-icon {
  background-position: -48px 0;
}
.dx-checkbox.dx-checkbox-checked.dx-state-active .dx-checkbox-icon {
  background-position: -96px 0;
}
.dx-checkbox.dx-checkbox-checked.dx-state-focused .dx-checkbox-icon {
  background-position: 0 -207px;
}
.dx-checkbox.dx-checkbox-checked.dx-state-focused.dx-state-hover .dx-checkbox-icon {
  background-position: -24px -207px;
}
.dx-checkbox.dx-checkbox-checked.dx-state-focused.dx-state-active .dx-checkbox-icon {
  background-position: -48px -207px;
}
.dx-checkbox.dx-state-disabled .dx-checkbox-icon {
  opacity: 1;
}
.dx-checkbox.dx-state-focused .dx-checkbox-icon {
  border: none;
  background-position: -72px -207px;
}
.dx-checkbox.dx-state-focused.dx-state-active .dx-checkbox-icon {
  background-position: -120px -207px;
}
.dx-checkbox.dx-state-focused.dx-state-hover .dx-checkbox-icon {
  background-position: -96px -207px;
}
.dx-checkbox.dx-state-hover .dx-checkbox-icon {
  background-position: -144px 0;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
.dx-checkbox.dx-state-active .dx-checkbox-icon {
  background-position: -168px 0;
}
.dx-checkbox .dx-checkbox-icon {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
  background-image: url(../images/sprite.png);
  background-position: -120px 0;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.dx-checkbox .dx-checkbox-icon:before {
  content: "";
}
.dx-checkbox .dx-checkbox-text {
  margin-left: -24px;
}
#edit-custom-filters #edit-filter-content #filter-options {
  height: 220px;
  width: 440px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  margin-bottom: 20px;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#edit-custom-filters #edit-filter-content .dx-filterbuilder .dx-filterbuilder-group .dx-filterbuilder-group-content .dx-filterbuilder-group-content {
  padding: 0 0 0 26px;
}
#edit-custom-filters #edit-filter-content .filter-group {
  font-size: 13px;
  margin-top: 5px;
}
#edit-custom-filters #edit-filter-content .filter-group > div {
  vertical-align: middle;
  cursor: pointer;
}
#edit-custom-filters #edit-filter-content .dx-placeholder:before {
  padding-top: 4px;
}
#edit-custom-filters #edit-filter-content .filter-save-description {
  display: inline-block;
  vertical-align: top;
  line-height: 28px;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 5px;
}
#edit-custom-filters #edit-filter-content .dx-texteditor-input {
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 13px;
  padding-right: 37px;
}
#edit-custom-filters .dx-popup-content {
  padding: 30px;
}
#edit-custom-filters .dx-texteditor-input {
  min-height: 28px;
}
.edit-actions {
  width: 100%;
  margin-top: 20px;
  text-align: right;
}
.edit-actions .dx-button {
  margin-left: 10px;
  background-image: none;
  background-color: #FAFAFA;
}
.edit-actions .dx-button .dx-button-content {
  padding: 3px 16px;
}
.dx-overlay-modal .edit-label {
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  color: #658494;
}
.dx-overlay-modal:not(.dx-dialog) .dx-popup-content {
  padding: 30px;
}
.dx-overlay-modal .dx-overlay-content.dx-popup-normal {
  background-color: #fafafa;
  border: 1px solid #4d4d4d;
  -moz-box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
}
.dx-overlay-modal .dx-dropdowneditor-input-wrapper {
  background-color: #fff;
}
.dx-overlay-modal .dx-form .dx-form-validation-summary {
  color: #ea4444;
  margin-top: 20px;
}
.dx-overlay-modal .dx-form .dx-layout-manager .dx-field-empty-item {
  height: 15px;
}
.dx-overlay-modal .dx-form .dx-layout-manager .dx-field-item .dx-texteditor-input {
  background-color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 2px;
}
.dx-overlay-modal .dx-form .dx-layout-manager .dx-field-item:not(.dx-first-row) {
  padding-top: 3px;
}
.dx-overlay-modal .dx-form .detail-address {
  padding-left: 87px;
}
.dx-overlay-modal .dx-form .detail-address .dx-field-item:not(.dx-last-col):not(.dx-first-col) {
  padding: 0;
}
.dx-overlay-modal .dx-form .detail-address .dx-field-item.dx-last-col {
  padding-left: 1px;
}
.dx-overlay-modal .dx-form .detail-address .dx-field-item.dx-first-col {
  padding-right: 1px;
}
.dx-overlay-modal .task-completed {
  position: relative;
}
.dx-overlay-modal .task-completed .dx-slider .dx-slider-handle {
  background-color: transparent;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-position: 0 -184px;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 23px;
  margin-top: -10px;
  margin-right: -10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}
.dx-overlay-modal .task-completed .dx-slider .dx-slider-handle.dx-state-focused {
  background-position: -97px -184px;
}
.dx-overlay-modal .task-completed .dx-slider .dx-slider-bar {
  background: #D1D1D1;
  border: 1px solid #D1D1D1;
  border-bottom: none;
  border-left: none;
  height: 2px;
  margin: 14px 12px;
}
.dx-overlay-modal .task-completed .dx-slider .dx-slider-range {
  border: 1px solid #658494;
  border-bottom: none;
  background: #658494;
  height: 2px;
}
.dx-overlay-modal .task-completed .dx-slider .dx-popover-wrapper .dx-overlay-content {
  background: #FFFFFF;
  border: 1px solid #cfcfcf;
  height: 37px !important;
  width: 62px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dx-overlay-modal .task-completed .dx-slider .dx-popover-wrapper .dx-popup-content {
  height: 100% !important;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF;
  text-align: center;
  color: #658494;
  line-height: 25px;
  font-size: 14px;
}
.dx-overlay-modal .task-completed .slider-axis-value-0,
.dx-overlay-modal .task-completed .slider-axis-value-50,
.dx-overlay-modal .task-completed .slider-axis-value-100 {
  font-size: 12px;
  position: absolute;
  top: 26px;
  color: #828282;
}
.dx-overlay-modal .task-completed .slider-axis-value-0 {
  left: 0;
}
.dx-overlay-modal .task-completed .slider-axis-value-50 {
  left: 47.5%;
}
.dx-overlay-modal .task-completed .slider-axis-value-100 {
  right: 0;
}
.dx-overlay-modal .gallery-popup {
  text-align: center;
  background: #fff;
  padding: 20px;
  color: #658494;
}
.dx-overlay-modal .gallery-popup .big {
  height: 80%;
  width: 100%;
}
.dx-overlay-modal .gallery-popup .big img {
  margin: 10% 0;
  width: 350px;
  height: 250px;
}
.dx-overlay-shader {
  background-color: rgba(0, 0, 0, 0.5);
}
#grid .dx-row.dx-selection > td {
  border-left: 0;
  border-right: 0;
}
#grid .dx-row.dx-selection > td:not(.dx-focused) {
  color: #fff;
}
#grid .dx-row > td {
  color: #191919;
  font-size: 14px;
  vertical-align: middle;
  outline: none;
}
#grid .dx-row.dx-group-row {
  background-color: #f4f4f4;
  font-weight: normal;
}
#grid .dx-row.dx-header-row.dx-datagrid-drop-highlight td {
  background-color: rgba(191, 78, 106, 0.5);
  color: #fff;
}
#grid .dx-row.dx-header-row td {
  color: #828282;
}
#grid .dx-group-row td {
  border-top-width: 1px;
  border-top-style: solid;
}
#grid .dx-group-row:first-child > td {
  border-top: 0;
}
#grid .grid-details {
  width: 16px;
  height: 16px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
  background-position: 0 -155px;
}
#grid .dx-selection > td:not(.dx-focused) .grid-details {
  background-position: -16px -155px;
}
.dx-gallery {
  position: relative;
}
.dx-gallery .dx-gallery-wrapper {
  position: static;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev {
  left: -15px;
  background-position: 0 -35px;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-hover:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-active:before {
  background-position: 0 -35px;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next {
  right: -15px;
  background-position: -20px -35px;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-hover:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-active:before {
  background-position: -20px -35px;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next {
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../images/sprite.png);
  width: 10px;
  height: 23px;
  background-color: transparent;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next:before {
  content: "";
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-hover:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-hover:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-active:before,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-active:before {
  content: "";
  margin-top: -12px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../images/sprite.png);
  width: 10px;
  height: 23px;
  background-color: transparent;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-hover:after,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-hover:after,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-prev.dx-state-active:after,
.dx-gallery .dx-gallery-wrapper .dx-gallery-nav-button-next.dx-state-active:after {
  background-color: transparent;
}
.dx-gallery .dx-gallery-wrapper .dx-gallery-container {
  width: 100%;
}
#revenue-analysis {
  background-color: transparent;
}
#revenue-analysis .dx-grandtotal {
  background-color: #fafafa;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  position: relative;
}
#revenue-analysis .dx-grandtotal:first-child {
  text-align: center;
}
#revenue-analysis .dx-grandtotal.dx-last-cell,
#revenue-analysis .dx-grandtotal[colspan='2'] {
  text-transform: uppercase;
}
#revenue-analysis .dx-grandtotal:not(.dx-row-total) {
  background-color: #fff;
}
#revenue-analysis .dx-grandtotal .bullet {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 10px;
}
#revenue-analysis .dx-pivotgrid-collapsed {
  background-color: #fff;
}
.view-content .info {
  border-top: 1px solid #ebebeb;
  background-color: #fafafa;
  position: relative;
  height: auto;
  padding: 20px 30px;
}
.view-content.dashboard .header-buttons .button-custom-filter,
.view-content.dashboard .header-buttons .button-export {
  margin-left: 0;
}
.view-content.dashboard .revenue-pivotgrid {
  margin-bottom: 20px;
}
.view-content.dashboard .revenue-pivotgrid .pivotgrid-container {
  height: 350px;
  margin: 20px 20px 30px 20px;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis {
  background: none;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-filter-header {
  border-top: 0;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-filter-header .dx-pivotgrid-fields-area {
  display: none;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-column-header {
  display: none;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-data-header {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  z-index: 2;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-row-total.dx-grandtotal {
  height: 33px;
  vertical-align: middle;
}
.view-content.dashboard .revenue-pivotgrid #revenue-analysis .dx-area-field.dx-area-box {
  width: 120px;
}
.view-content.dashboard .revenue-snapshot,
.view-content.dashboard .opportunities-snapshot {
  display: inline-block;
  height: 344px;
}
.view-content.dashboard .revenue-snapshot {
  width: 43%;
}
.view-content.dashboard .opportunities-snapshot {
  width: 55%;
  float: right;
}
.view-content.dashboard .opportunities-snapshot #opportunities-funnel {
  max-width: 600px;
  margin: 0 auto;
}
.view-content.dashboard .caption {
  color: #656565;
  background-color: #fafafa;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
}
.view-content.customers .info.customers-info {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 23px;
  position: relative;
}
.view-content.customers .info.customers-info #load-indicator {
  position: absolute;
  top: 60px;
  left: 50px;
  right: 50px;
  height: 32px;
  padding: 80px 0 100px 0;
  background: #fafafa;
  text-align: center;
}
.view-content.customers .info-title {
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding-bottom: 27px;
}
.view-content.customers #customer-name {
  color: #658494;
  line-height: 30px;
}
.view-content.customers #customer-category {
  display: inline-block;
  font-size: 22px;
  text-transform: capitalize;
  vertical-align: bottom;
}
.view-content.customers #customer-category .dx-menu-item-has-submenu {
  color: #828282;
  background-color: transparent;
}
.view-content.customers #customer-category .dx-menu-item-has-text.dx-menu-item-has-submenu .dx-menu-item-text {
  padding: 0 32px 0 0;
  vertical-align: inherit;
}
.view-content.customers #customer-category .dx-context-menu-container-border {
  border: 0;
  box-shadow: none;
}
.view-content.customers #customers-gallery .dx-gallery-nav-button-prev,
.view-content.customers #customers-gallery .dx-gallery-nav-button-next {
  top: 31%;
}
.view-content.customers #customers-gallery .dx-gallery-item {
  height: 200px;
  padding-top: 5px;
  position: relative;
}
.view-content.customers #customers-gallery .dx-gallery-item:hover .edit-customer {
  display: block;
  cursor: pointer;
}
.view-content.customers #customers-gallery .dx-gallery-item .edit-customer {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 23px;
  display: none;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-position: -61px -184px;
  background-repeat: no-repeat;
}
.view-content.customers #customers-gallery .dx-gallery-item img {
  margin: 0;
  width: 120px;
  height: 115px;
  position: relative;
  align-self: center;
}
.view-content.customers #customers-gallery .dx-gallery-item img.contacts {
  width: 90px;
  height: 110px;
  margin-top: 10px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.view-content.customers #customers-gallery .dx-gallery-item img.stores {
  border: none;
}
.view-content.customers #customers-gallery .dx-gallery-item .gallery-label {
  padding-top: 5px;
}
.view-content.customers #customers-gallery .dx-gallery-item .gallery-description {
  color: #828282;
  font-size: 12px;
}
.view-content.customers #grid .dx-datagrid-header-panel .dx-toolbar {
  margin: 10px 0;
}
.view-content.customers #grid .dx-datagrid-header-panel .dx-toolbar .dx-datagrid-group-panel {
  padding-left: 10px;
}
.view-content.tasks #grid .grid-row-block {
  color: #828282;
}
.view-content.tasks #grid .grid-row-block:not(:last-child) {
  border-bottom: 1px solid #d4d4d4;
}
.view-content.tasks #grid .grid-row-block:not(:hover) .dx-checkbox-checked .dx-checkbox-icon {
  background-position: -72px 0;
  border: none;
}
.view-content.tasks #grid .grid-row-block:not(:hover) .task-actions > div {
  visibility: hidden;
}
.view-content.tasks #grid .grid-row-block:not(.completed-task-block):not(:hover) .dx-checkbox {
  display: none;
}
.view-content.tasks #grid .completed-task-block {
  background-color: #f7f7f7;
}
.view-content.tasks #grid .completed-task-block td:not(.grid-completed):not(.task-description):not(.task-actions) {
  text-decoration: line-through;
  color: #828282;
}
.view-content.tasks #grid .dx-row {
  border-top: 0;
  border-bottom: 0;
}
.view-content.tasks #grid .dx-row:not(:last-child):not(.dx-header-row) {
  height: 36px;
}
.view-content.tasks #grid .dx-row .grid-status {
  text-align: center;
}
.view-content.tasks #grid .dx-row.dx-header-row td {
  padding-left: 2px;
  color: #828282;
}
.view-content.tasks #grid .dx-row > td {
  vertical-align: middle;
}
.view-content.tasks #grid .dx-row .grid-priority {
  padding-top: 6px;
}
.view-content.tasks #grid .dx-row .grid-priority div {
  margin-left: 11px;
}
.view-content.tasks #grid .dx-row .grid-completed {
  vertical-align: top;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.view-content.tasks #grid .dx-row .grid-completed > div > div:first-child {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  margin-right: 2px;
}
.view-content.tasks #grid .dx-row .grid-completed > div > .chart-background {
  position: absolute;
  height: 10px;
  width: 93px;
  left: 1px;
  top: 15px;
  background-color: #D9D9D9;
  z-index: 0;
}
.view-content.tasks #grid .dx-row .task-actions {
  text-align: right;
}
.view-content.tasks #grid .dx-row .task-description {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 1px;
}
.view-content.tasks .dx-datagrid .dx-datagrid-table .dx-column-lines > td {
  border-left: 0;
  border-right: 0;
  font-size: 14px;
}
.view-content.products #grid .dx-data-row > td {
  padding: 3px 7px;
}
.view-content.products .unchecked,
.view-content.products .checked {
  width: 24px;
  height: 24px;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.view-content.products .unchecked {
  background-position: -120px 0;
}
.view-content.products .unchecked:hover {
  background-position: -144px 0;
}
.view-content.products .unchecked:active {
  background-position: -168px 0;
}
.view-content.products .checked {
  background-position: 0 0;
}
.view-content.products .checked:hover {
  background-position: -48px 0;
}
.view-content.products .checked:active {
  background-position: -96px 0;
}
.view-content.products .rating-container {
  display: inline-block;
  margin-left: 8px;
  background: url(../images/star_unselected.png);
  background-size: 18px 15px;
  width: 90px;
  height: 15px;
}
.view-content.products .rating {
  background: url(../images/star_selected.png);
  background-size: 18px 15px;
  width: 0;
  height: 100%;
}
.view-content.products .about {
  float: left;
  width: 450px;
}
.view-content.products .about .name {
  color: #658494;
  font-size: 24px;
  display: inline-block;
}
.view-content.products .about .title {
  color: #828282;
  line-height: 14px;
}
.view-content.products .about .photo {
  margin: 10px 0;
  height: 150px;
  width: 410px;
}
.view-content.products .about .photo > div:not(.image) {
  text-transform: uppercase;
  margin: 12px 0px 0px 18px;
  float: left;
  color: #828282;
  font-size: 12px;
  min-width: 90px;
  max-width: 190px;
}
.view-content.products .about .photo > div:not(.image) > span {
  text-transform: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}
.view-content.products .about .photo .image {
  width: 190px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190px 130px;
  border: 1px solid #cccccc;
  float: left;
  padding: 4px;
}
.view-content.products .dx-multiview-item.dx-item-selected {
  background-color: #fff;
}
.view-content.products .sections {
  position: absolute;
  right: 30px;
  left: 450px;
}
.view-content.products .sections #gallery {
  margin: 32px 8%;
  width: 84% !important;
}
.view-content.products .sections #gallery .dx-gallery-nav-button-prev,
.view-content.products .sections #gallery .dx-gallery-nav-button-next {
  top: 41%;
}
.view-content.products .sections #gallery .gallery-image {
  width: 130px;
  height: 130px;
  margin: 5px auto;
  border: 1px solid #cbcbcb;
}
.view-content.products .sections #gallery .gallery-image > div {
  margin: 4px;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.view-content.products .sections #fileuploader {
  background-color: #fafafa;
  padding: 5px 8%;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper {
  position: relative;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-files-container {
  position: absolute;
  left: 20px;
  top: 18px;
  right: 150px;
  padding: 0;
  width: auto;
  height: 24px;
  overflow: hidden;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-files-container .dx-fileuploader-button-container,
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-files-container .dx-fileuploader-file > .dx-trackbar {
  display: none;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-files-container .dx-fileuploader-file-info {
  width: auto;
  margin-right: 5px;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-files-container .dx-fileuploader-file-status-message {
  float: none;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-input-wrapper {
  position: relative;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-input-wrapper .dx-button {
  width: 100px;
  float: right;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-input-wrapper .dx-fileuploader-input-container {
  border: 1px solid #cbcbcb;
  position: absolute;
  left: 0;
  right: 105px;
  width: auto;
  height: auto;
  background-color: #fff;
}
.view-content.products .sections #fileuploader .dx-fileuploader-wrapper .dx-fileuploader-input-wrapper .dx-fileuploader-input-container .dx-fileuploader-input-label {
  right: 10px;
  left: auto;
  top: 30%;
  width: 21px;
  height: 14px;
  padding: 0;
  background-image: url(../images/file-folder.png);
}
.view-content.products .sections #load-indicator {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 150px;
  padding: 59px;
  background: #fff;
  text-align: center;
}
.view-content.employees #grid td {
  padding: 6px 7px;
}
.view-content.employees .info {
  position: relative;
}
.view-content.employees .info .about {
  float: left;
  width: 450px;
}
.view-content.employees .info .about .name {
  color: #658494;
  font-size: 24px;
  display: inline-block;
}
.view-content.employees .info .about .icon-edit {
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -83px -184px;
  margin-left: 10px;
  cursor: pointer;
}
.view-content.employees .info .about .title {
  color: #828282;
  line-height: 14px;
}
.view-content.employees .info .about .photo {
  margin: 10px 0;
  height: 150px;
  width: 400px;
}
.view-content.employees .info .about .photo > div:not(.image) {
  text-transform: uppercase;
  margin: 12px 0px 0px 18px;
  float: left;
  color: #828282;
  font-size: 12px;
  min-width: 90px;
  max-width: 190px;
}
.view-content.employees .info .about .photo > div:not(.image) > span {
  text-transform: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}
.view-content.employees .info .about .photo .image {
  width: 120px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 150px;
  border: 1px solid #cccccc;
  float: left;
  padding: 4px;
}
.view-content.employees .sections {
  position: absolute;
  top: 30px;
  right: 30px;
  left: 450px;
}
.view-content.employees .sections .dx-multiview-item-content {
  background-color: #fff;
}
.view-content.employees .sections #tasks-grid,
.view-content.employees .sections #notes-grid {
  max-height: 288px;
}
